.main__title {
    color: red;
}

body {
    display: flex;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('https://www.teahub.io/photos/full/8-80332_blur-background-hd.jpg');
}

body::after {
    content: "";
    width: 350px;
    height: 500px;
    background-color: rgba(87, 86, 86, 0.47);
    position: absolute;
    left: calc(50% - 175px);

    filter: blur(4px);
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    height: 650px;
    width: 350px;
    align-items: center;
    box-shadow: 0 0 15px black, 0 0 15px rgb(14, 161, 224);
    padding: 5px;
    gap: 15px;
    font-weight: 100;

    color: white;
}
.content {
    display: flex;
    align-items: center;
}

fieldset {
    display: flex;
    width: 85%;
    flex-direction: column;
    min-height: 30px;
}

input {
    height: 35px;
}
input[type="text"], input[type="submit"], input[type="time"]{
    width: 90%;
}

.title {
    font-size: 2.3em;
    text-transform: uppercase;
    letter-spacing: 3px;
}