{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <form action="" method="post">
        <h1 class="title">Create music</h1>
        <fieldset>
            <input type="text" id="title" name="title" placeholder="Title">
        </fieldset>
        <fieldset>
            <input type="time" name="duration" id="duration">
        </fieldset>

        <fieldset class="status_fieldset">
            {% for status in ctx_status %}
            <div class="content">
                <input type="radio" class="sts" id="status" name="status">
                <label for="status">
                    {{ status.1 }}
                </label>
                {% endfor %}
            </div>
        </fieldset>

        <fieldset>
            {% for genre in ctx_genre %}
            <div class="content">
                <input type="checkbox" name="genre" id="{{ genre.title }}">
                <label for="{{ genre.title }}">
                    {{ genre.title }}
                </label>
            </div>
            {% endfor %}
        </fieldset>
    </form>
</body>

</html>